h1 {
	color:yellow;
	font-size: 40px;
	padding: 30px 0px 0px 30px;
}


li {
	float:left;
	color:white;
	font-size: 28px;
	list-style-type: none;
	padding: 0px 20px;
}

.core-nav {
	text-transform: uppercase;
}

li:first-child {
	padding-left: 300px;
}

li:last-child {
	padding-right: 50px;
}

.navigation-header {
	background-color:black;
	height: 150px;
	border-bottom-color: yellow;
	border-bottom-style: solid;
	border-bottom-width: 5px;
	margin: 0px;
}

.subtitle {
	clear:both;
	text-align: center;
	background-color: #D3D3D3;
	padding: 20px;
	margin: 0px;
	font-size: 34px;
	font-style: italic;
}

.joke {
	color:#7e7e7e;
	text-decoration: strikethrough;
}

.joke-clarification {

}

.hero-image-section {
	background-image: url("images/coworking.jpg");
}

.floating-desc {
	float:right;
	display:block;
}

.clearfix {
	clear:both;
}

h2 {

}

h2 .information-header {

}

p {

}

p .informaction-desc {

}

button {

}

.grey-button {

}

.information {

}

.info-section {
	float:left;
	
}











