h1 {

}

ol {

}

header {

}

.joke {

}

.joke-clarification {

}

.hero-image-section {
	background-url: url("images/coworking.jpg");
	display:block;
}

.floating-desc {
	float:right;
	display:block;
}

h2 {

}

h2 .information-header {

}

p {

}

p .informaction-desc {

}

button {

}

.grey-button {

}

.information {

}

.info-section {

}











